/Application.Data/obj
/Application.Data/bin
/.vs/

/Application.Common/obj
/Application.Common/bin
/Application.Logging/bin
/Application.Logging/obj
/Application.Model/bin
/Application.Model/obj
/Application.Notification/bin
/Application.Notification/obj
/Application.Service/bin
/Application.Service/obj
/Application.ViewModel/bin
/Application.ViewModel/obj
/Application.Web/bin
/Application.Web/obj

/publish