
@{
    ViewBag.Title = "CreateAboutUs";
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}

<div id="">
    <div class="page-banner no-subtitle">
        <div class="row">
            <div class="col-md-6">
                <h2 id="lblAddCustomer">Add About Us</h2>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li><a href="#">About Us</a></li>
                    <li>Admin</li>
                </ul>
            </div>
        </div>
    </div>

    @*<form name="myForm" novalidate>
        <div class="form-horizontal" style="padding-top:5px;">
            <div class="register-form">*@

    <div class="row" style="margin-left:0; margin-right:0; border: 1px solid #dcdcdc;">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="row">
                    <span class="col-sm-1 right">First Description:</span>
                    <div class="col-sm-11">
                        <textarea id="aboutUsDescription" placeholder="Enter description" class="form-control" rows="7"></textarea>
                        <input hidden id="aboutUsId" value="0" />
                        <input hidden id="images" value="" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <span class="col-sm-1 right">Second Description:</span>
                    <div class="col-sm-11">
                        <textarea id="aboutUsDescription1" placeholder="Enter description" class="form-control" rows="7"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <span class="col-sm-1 right">Third Description:</span>
                    <div class="col-sm-11">
                        <textarea id="aboutUsDescription2" placeholder="Enter description" class="form-control" rows="7"></textarea>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <h3 class="col-sm-1"></h3>
                    <div class="col-sm-8">
                        <button id="btnSaveAboutUs" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*</div>
            </div>
        </form>*@

</div>



<style type="text/css">
    table {
        border-collapse: collapse;
    }

    td {
        padding: 6px;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .photo-additional {
        color: blue;
        font-weight: 600;
    }

    .photo-primary {
        font-weight: 600;
        color: green;
    }
</style>

<div class="page-banner no-subtitle">
    <div class="row">
        <div class="col-md-6">
            <h2>Product Images</h2>
        </div>
        <div class="col-md-6">
            <ul class="breadcrumbs">
                <li><a href="#">Administration</a></li>
                <li>Product Images</li>
            </ul>
        </div>
    </div>
</div>

<form name="myForm" novalidate>
    <div ng-controller="aboutUsPhotoCtrl" class="form-horizontal">


        <div class="form-group">
            <div class="col-sm-12">
                <div style="background-color: #ecf9fa; border: 1px solid #b2e6e9; text-align: center;">

                    <table style="margin: 0 auto;">
                        <tr>
                            <td style="padding-right: 30px;">
                                <table>
                                    <tr>
                                        <td class="center">
                                            Upload Images For About Us (Miximum 3 photos)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">
                                            <div class="fileUpload btn btn-primary center">
                                                <span>Browse Image</span>
                                                <input id="aboutUsInputFile" type="file" class="upload" name="file" accept="image/*" onchange="angular.element(this).scope().selectPhoto(this.files)" required />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="border-left: 1px solid #dcdcdc;"></td>
                            <td style="padding-left: 30px;">
                                <table>
                                    <tr>
                                        <td>
                                            <div style="width: 140px; height: 105px; border:2px dashed #808080; padding:5px;">
                                                <img id="imgTemp" style="height: 100%; width: 100%;" src="~/Images/no-image.png" alt="your image" />
                                            </div>
                                            <div id="divSavePhoto" class="center" style="padding:5px; border:1px solid #dcdcdc; margin-top: 2px; display: none;">
                                                <button id="btnUploadPhoto" type="submit" ng-click="uploadAboutUsPhoto()" class="btn btn-primary">Save</button>
                                                <button id="btnPhotoCancel" type="submit" class="btn btn-default">Cancel</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>


        <br /><br />

        <div class="form-group">
            <div class="col-sm-12">
                <table border="1" style="width: 100%; border: 1px solid #b2e6e9;">
                    <tr style="background-color: #ecf9fa; font-weight: 600;">
                        <td class="center">
                            Product Image
                        </td>
                        <td class="center">
                            Delete
                        </td>
                    </tr>
                    <tr ng-repeat="photo in photoList">
                        <td class="center">
                            <img alt="" class="studentPhoto" ng-src="/ProductImages/AboutUs/{{photo.ImageName}}" />
                        </td>
                        <td class="center">
                            <span class="deletePhoto cursor-pointer glyphicon glyphicon-remove cursor-pointer" style="color: red;" ng-click="deleteAboutUsPhoto(photo.Id)"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</form>