
@{
    ViewBag.Title = "Posted Successfully";
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}

<div style="text-align: -webkit-center;">
    <br />
    <p>
        <h3>Success <br />Your product has been posted successfully</h3>
    </p>
    <br />   
    <br />
    <div style="padding: 10px; background-color: #ff5a60; width: 200px; height: 40px; text-align: center;">
        <a class="icon-camera-1 btn-sell-item" href="/ProductEntry/Post?load=all" style="color: #fff; font-size: 15px;">Post Another Item</a>
    </div>
    <br />
</div>

