@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="HomeCtrl">

    <!-- Slider -->
    <div class="container cat-slider-container">
        <div id="side-category-container" style="float: left; width: 230px; height: 350px; background-color: #fff; margin-right: 10px; box-shadow: 0 2px 5px 0 rgba(0,0,0,.1); border-radius: 4px;">
            <div id="side-category" class="slim-scroll"></div>
        </div>
        <div class="home-slider slider" style="position:relative; margin-left:240px;">
            <div class="dummy-item-loader hom-slider-loader">
                <div class="grid-item" style="width:100% !important; padding:0 !important; margin:0 !important;">
                    <div class="dum-item">
                        <div class="dum-prod-item" style="height: 350px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Category image -->
    <br />
    <div class="container">
        <div id="homepage-category-image" class="slider"></div>
    </div>
    
    <!-- New arrivals items -->
    <br />
    <div class="container">
        <div class="home-section-title section-title-bg">
            <h2>New Arrivals</h2>
        </div>
        <div class="homepage-section-container-slick clearfix">
            <div id="homepage-container-newarrival" class="slider">
                <div class="dummy-item-loader">
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <!-- Popular items -->
    <br />
    <div class="container">
        <div class="home-section-title section-title-bg">
            <h2>Popular Items</h2>
        </div>
        <div class="homepage-section-container-slick clearfix">
            <div id="homepage-container-popular" class="slider">
                <div class="dummy-item-loader">
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <!-- Featured items -->
    <br />
    <div class="container home-featured-item-pad">
        <div class="home-section-title">
            <div>
                <h2>Featured Items</h2>
            </div>
        </div>
        <div class="homepage-section-container">
            <div id="homepage-container-featured" class="clearfix">
                <div class="dummy-item-loader">
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Support section -->
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="home-page-support" style="background-color: #ebebeb;">
                    <div class="support-item">
                        <div class="support-img">
                            <img src="~/Images/icon_delivery.png" alt="Free Delivery" title="Free Delivery">
                        </div>
                        <div class="info">
                            <div class="title">
                                <span>Free Delivery</span>
                            </div>
                            <div class="description">
                                <p>We offer free delivery non frozen items for your shopping convinience</p>
                            </div>
                        </div>
                    </div>
                    <div class="support-item">
                        <div class="support-img">
                            <img src="~/Images/icon_shipping.png" alt="Worldwide Shipping" title="Worldwide Shipping">
                        </div>
                        <div class="info">
                            <div class="title">
                                <span>Express Shipping</span>
                            </div>
                            <div class="description">
                                <p>Express shipping in selected areas</p>
                            </div>
                        </div>
                    </div>
                    <div class="support-item">
                        <div class="support-img">
                            <img src="~/Images/icon_returnpolicy.png" alt="30 Day Return Policy" title="30 Day Return Policy">
                        </div>
                        <div class="info">
                            <div class="title">
                                <span>Return Policy</span>
                            </div>
                            <div class="description">
                                <p>We offer return or exchange of items but conditions apply</p>
                            </div>
                        </div>
                    </div>
                    <div class="support-item">
                        <div class="support-img">
                            <img src="~/Images/icon_support.png" alt="Support 24/7" title="Support 24/7">
                        </div>
                        <div class="info">
                            <div class="title">
                                <span>Support 24/7</span>
                            </div>
                            <div class="description">
                                <p>Our prompt seervice offers very good customer service</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Load more items -->
    <div class="center" style="padding-top: 40px; padding-bottom:0px;">
        <a href="/Product/Search?cat=0">
            <span class="btn-load-more" style="border: 1px solid #fe6801; padding: 10px; padding-left: 80px; padding-right: 80px; border-radius: 16px; color: #fe6801; font-weight: 700;">LOAD MORE</span>
        </a>
    </div>

</div>