.top-cat-menu-header {
    background-color: #f88800 !important;
}
.h-p-price {
    color: #fea800 !important;
}

.top-header {
    background-color: #fea800 !important;
}

#header-search-box {
    border: 2px solid #fea800 !important;
}

#header-search-btn {
    border: 2px solid #fea800 !important;
    background-color: #fea800 !important;
}

.btn-filter-price {
    background-color: #fea800 !important;
}

.slider .slick-prev:before {
    color: #fea800 !important;
}

.slider .slick-next:before {
    color: #fea800 !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #fea800 !important;
}

.theme-text-color {
    color: #fea800 !important;
}

.theme-back-color {
    background-color: #fea800 !important;
}

.btn-load-more {
    color: #fea800 !important;
    border: 1px solid #fea800 !important;
}

.tabs li.active {
    border-top: 2px solid #fea800 !important;
}

.tabs li.active a {
    color: #fea800 !important;
}
