
@{
    ViewBag.Title = "Order Details";
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    /*tr:nth-child(even) {
        background-color: #dddddd;
    }*/
</style>

<div class="page-banner no-subtitle">
    <div class="row">
        <div class="col-md-6">
            <h2>Order Details</h2>
        </div>
        <div class="col-md-6">
            <ul class="breadcrumbs">
                <li><a href="#">Orders</a></li>
                <li>Order Details</li>
            </ul>
        </div>
    </div>
</div>

<form name="myForm" novalidate>
    <div ng-controller="AdminOrderDetailsCtrl" class="form-horizontal">
        <div class="row">

            <div class="col-md-3">
                <table class="tbl-order-details" style="margin-bottom:15px; float:left;">
                    <tr>
                        <td style="font-weight:600;">Order Code:</td>
                        <td><span id="orderCode"></span></td>

                    </tr>
                    <tr>
                        <td style="font-weight:600;">Order Mode:</td>
                        <td><span id="orderMode"></span></td>
                    </tr>
                    <tr>
                        <td style="font-weight:600;">Order Status:</td>
                        <td>
                            <span id="orderStatus"></span>
                            <input id="orderStatusId" value="0" hidden/>

                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight:600;">Order Date:</td>
                        <td><span id="orderDate"></span></td>
                    </tr>
                    <tr id="trTotalWeight">
                        <td style="font-weight:600;">Total Weight:</td>
                        <td><span id="totalWeight"></span></td>
                    </tr>
                    <tr>
                        <td style="font-weight:600;">Frozen Items:</td>
                        <td><span id="frozenItem"></span></td>
                    </tr>
                    <tr id="trDeliveryDate">
                        <td style="font-weight:600;">Delivery Date:</td>
                        <td><span id="deliveryDate"></span></td>
                    </tr>
                    <tr id="trOrderType">
                        <td style="font-weight:600;">Order Type:</td>
                        <td><span id="orderType"></span></td>
                    </tr>
                </table>
            </div>

            <div class="col-md-9">
                <div class="print-btn-container clearfix" style="float:right;">
                    <button id="printOrder" class="btn btn-primary" style="float:right; margin-right:10px;">Print Order</button>
                    <button id="printInvoice" class="btn btn-primary" style="float:right; margin-right:10px;">Print Invoice</button>
                    <button id="updateOrderStatus" class="btn btn-info" style="float:right; margin-right:10px;">Update Status</button>
                    <textarea id="orderDescription" class="form-control" style="float:right; margin-right:10px; width: 250px;"></textarea>
                    <select id="status" class="form-control" style="height: 35px;width: 150px; float:right; margin-right:10px;">
                        <option value="0">Select status</option>
                    </select>
                    <label for="status" style="font-weight:600; float:right; margin-right:10px;">Change Status:</label>
                </div>

                <div style="margin-top: 50px; overflow: auto; width:100%;">
                    <table id="status-table" class="table table-striped table-bordered table-hover dataTable no-footer">
                        <thead>
                            <tr>
                                <th>Changed On</th>
                                <th>Changed by</th>
                                <th>Status</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody id="history">
                        </tbody>
                    </table>

                </div>
            </div>


            <div class="col-md-12">
                <div class="print-btn-container clearfix" style="float:right;">

                    <div id="editAddress" style="border:1px solid #dcdcdc; width:400px; clear:both; margin-top:20px; margin-bottom: 5px; display:none;">
                        <table class="tbl-customer-address" style="width:100%;">
                            <tr>
                                <td>
                                    Postal Code
                                </td>
                                <td>
                                    <input id="txtPostCode" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    States
                                </td>
                                <td>
                                    <select id="ddlPrefecture" class="form-control">
                                        <option value="">Select Prefecture</option>
                                        <option value="Aichi">Aichi</option>
                                        <option value="Akita">Akita</option>
                                        <option value="Aomori">Aomori</option>
                                        <option value="Chiba">Chiba</option>
                                        <option value="Ehime">Ehime</option>
                                        <option value="Fukui">Fukui</option>
                                        <option value="Fukuoka">Fukuoka</option>
                                        <option value="Fukushima">Fukushima</option>
                                        <option value="Gifu">Gifu</option>
                                        <option value="Gunma">Gunma</option>
                                        <option value="Hiroshima">Hiroshima</option>
                                        <option value="Hokkaido">Hokkaido</option>
                                        <option value="Hyogo">Hyogo</option>
                                        <option value="Ibaraki">Ibaraki</option>
                                        <option value="Ishikawa">Ishikawa</option>
                                        <option value="Iwate">Iwate</option>
                                        <option value="Kagawa">Kagawa</option>
                                        <option value="Kagoshima">Kagoshima</option>
                                        <option value="Kanagawa">Kanagawa</option>
                                        <option value="Kochi">Kochi</option>
                                        <option value="Kumamoto">Kumamoto</option>
                                        <option value="Kyoto">Kyoto</option>
                                        <option value="Mie">Mie</option>
                                        <option value="Miyagi">Miyagi</option>
                                        <option value="Miyazaki">Miyazaki</option>
                                        <option value="Nagano">Nagano</option>
                                        <option value="Nagasaki">Nagasaki</option>
                                        <option value="Nara">Nara</option>
                                        <option value="Niigata">Niigata</option>
                                        <option value="Oita">Oita</option>
                                        <option value="Okayama">Okayama</option>
                                        <option value="Okinawa">Okinawa</option>
                                        <option value="Osaka">Osaka</option>
                                        <option value="Saga">Saga</option>
                                        <option value="Saitama">Saitama</option>
                                        <option value="Shiga">Shiga</option>
                                        <option value="Shimane">Shimane</option>
                                        <option value="Shizuoka">Shizuoka</option>
                                        <option value="Tochigi">Tochigi</option>
                                        <option value="Tokushima">Tokushima</option>
                                        <option value="Tokyo">Tokyo</option>
                                        <option value="Tottori">Tottori</option>
                                        <option value="Toyama">Toyama</option>
                                        <option value="Wakayama">Wakayama</option>
                                        <option value="Yamagata">Yamagata</option>
                                        <option value="Yamaguchi">Yamaguchi</option>
                                        <option value="Yamanashi">Yamanashi</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    City
                                </td>
                                <td>
                                    <input id="txtCity" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Address
                                </td>
                                <td>
                                    <textarea id="txtAddress" rows="2" class="form-control"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    First Name
                                </td>
                                <td>
                                    <input id="txtFirstName" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Last Name
                                </td>
                                <td>
                                    <input id="txtLastName" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Phone
                                </td>
                                <td>
                                    <input id="txtPhone" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button id="printCourierSlip" class="btn btn-warning">Print</button>&nbsp;
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="item-loading">
                    <img src="~/Images/ajax-loader.gif" /> Loading...
                </div>
                <div style="overflow:auto">
                    <div id="order-details-item-list"></div>
                </div>
            </div>
        </div>
    </div>
</form>


